body {
    background-color: black;
}

.search-bar-container {
    min-height: 50px;
    border-radius: 40px;
    background-image: url('../../assets/back.jpg');
    /* path to your image */
    background-size: cover;
    /* make the image cover the entire container */
    background-position: center;
    /* center the image */
    background-repeat: no-repeat;
    /* prevent repeating */
}

.search-input-group {
    max-width: 600px;
}

.custom-search-input {
    background-color: rgb(255, 255, 255);
    border-radius: 50px 0 50px 50px !important;
    height: 50px;
    font-size: 16px;
    margin-right: 20px;
    color: #000000;
    box-shadow: none !important;
    border-color: transparent !important;
    opacity: 0.4;
}

/* Custom styling for the search button */
.custom-search-button {
    /* Makes the right side fully rounded */
    border-radius: 50px 50px 50px 0 !important;
    /* Matches the distinct blue from the image */
    background-color: #dfe1e7;
    /* Ensures the button is a square */
    width: 2% !important;
    /* Sets the height to match the input */
    height: 50px;
    /* Icon color is white */
    color: rgb(8, 8, 8);
    /* Optional: Remove default border */
    border: none !important;
    transition: .5s ease;
}

/* Styling for the button when hovered/focused */
.custom-search-button:hover,
.custom-search-button:focus {
    /* A slight change on hover for user feedback */
    background-color: #9d9fa5;
    border-radius: 50px 50px 0px 50px !important;
    /* Remove default Bootstrap focus box-shadow */
    box-shadow: none !important;
}

/* Adjusting the input-group to make the connection seamless */
.input-group>.custom-search-input,
.input-group>.custom-search-button {
    /* Overrides Bootstrap's default Z-index for input-group-append */
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}