.bg-white {
    background-color: rgb(229 220 220) !important;
}

.search-form {
    width: 90% !important;
    margin: 10px auto;
}

.formm {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.search-form input {
    border-radius: 8px 0 0 8px;
    padding: 8px;
}

.search-form button {
    border-radius: 0 8px 8px 0;
    padding: 8px 12px;
    background-color: #0d6efd;
    /* Bootstrap primary color */
    color: white;
    border: none;
}

.search-form button:hover {
    background-color: #0b5ed7;
}